.mouse-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
}

.app {
  margin: 20px;
}

.header {
  padding-bottom: 20px;
  border: 1px solid white;
  border-radius: 5px;
}

.title {
  font-size: 45px;
  margin-left: 20px;
  text-align: center;
  font-weight: 400;
}

.subtitle {
  font-size: 13px;
  margin-left: 20px;
  margin-top: -20px;
  text-align: center;
  font-family: monospace;
  font-weight: 800;
}

.about {
  position: absolute;
  right: 40px;
  bottom: 20px;
}
.about:hover {
  cursor:help;
}

.introduction {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.about-modal {
  border: 2px solid black;
  margin: 100px;
  padding: 10px;
  background-color: black;
}

.modal-header {
  font-weight: 400;
}

.chart-container {
  position: absolute;
  bottom: 30%;
  left: calc(50% - 400px);
}

.work-container {
  position: absolute;
  bottom: 80px;
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 20px;
  border: 1px solid white;
  border-radius: 5px;
  width: calc(100% - 80px)
}

.work-card {
  width: 250px;
  height: 100px;
  padding: 20px;
  padding-top: 5px;
  background-color: yellow;
  box-shadow: 1px 1px rgba(255, 217, 0, 0.08), 
  2px 2px rgba(255, 217, 0, 0.14), 
  4px 4px rgba(255, 217, 0, 0.20), 
  8px 8px rgba(255, 217, 0, 0.26);;
  position: relative;
}
.work-card:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px 1px rgba(255, 217, 0, 0.08), 
  2px 2px 2px 2px rgba(255, 217, 0, 0.14), 
  4px 4px 4px 4px rgba(255, 217, 0, 0.20), 
  8px 8px 8px 8px rgba(255, 217, 0, 0.26);;
}

.work-card-title {
  font-family: tahoma;
  color: black;
  font-weight: bold;
  font-size: 12px;
}
.work-card-artist {
  font-family: tahoma;
  color: black;
  position: absolute;
  bottom: 0px;
  right: 10px;
  font-size: 10px;
}
