.App {
  margin: 5px;
}

.header {
  margin-left: 20px;
}

.subheader {
  font-size: 13px;
  margin-left: 20px;
  margin-top: -10px;
}

.about {
  position: absolute;
  right: 40px;
  bottom: 20px;
}
.about:hover {
  cursor:help;
}

.artists {
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.about-modal {
  font: Consolas;
  border: 2px solid black;
  margin: 100px;
  padding: 10px;
  background: white;
}

.table-files {
  position: relative;
  padding: 20px;
  margin-top: 40px;
  width: calc(100% - 10px);
}

.table-line {
  border-bottom: 1px solid black;
  height: 35px;
}

.table-header {
  color: blue;
  text-decoration: underline;
  text-align: left;
}

.table-row-folder {
  color: blueviolet;
  text-align: left;
  text-decoration: underline;
}

.chart-container {
  position: absolute;
  bottom: 150px;
  left: calc(50% - 260px);
}
